@import url(<link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>);


* {
	box-sizing: border-box;
}

.logo {
	float: left;
	margin-left: 5em;
	margin-top: .7em;
	margin-bottom: .7em;
}

body {
	margin: 0;
	font-family: 'Amatic SC', sans-serif;
	text-align: center;
	background-color: #008080;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 95%;
	margin: 0 auto;
}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #008080;
	padding-bottom: -4em;
}

/* typography
========= */


.title {
	font-size: 4rem;
}

.title span {
	font-weight: 300;
	display: block;
	font-size: 1em;
}

h1 {
	font-weight: 400;
	font-size: 3rem;
}

p {
	font-weight: 300;
	font-size: 2em;
	padding: .5em;
}

/* buttons
========= */

.button {
	display: inline-block;
	font-size: 1.9rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1.75em;
}

.button-accent {
	color: black;
}

.button-accent:hover;
.button-accent:focus;


/* header
========= */

header {
	margin-top: 0em;
	background-color: #008080;
}



nav ul {
	text-align: right;
	margin: 0;
	margin-right: 3em;
	margin-bottom: 0em;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 1em;
}

nav a {
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 2.5rem;
	padding: .25em;
	color: black;
}

nav a:hover {
	color: white;
}

nav a:focus {
	color: white;
}





/* home hero
========= */

.home-hero {
	background-color: #663399;
	color: #008080;
	padding-top: .5em;
	padding-bottom:  4em;
	margin-top: 5.5em;
	margin-left: 3em;
	margin-right: 3em;
	outline: 2px solid #008080;
	outline-offset: -1em;
}


/* home about
========= */

.home-about-textbox {
	background-color: grey;
	margin: 3em ;
	padding: .7em;
	outline: 2px solid #008080;
	outline-offset: -1em;
}